[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "bundle/exifVim"]
	path = bundle/exifVim
	url = https://github.com/haydushki-fmi/exifVim.git
[submodule "bundle/NERDtree"]
	path = bundle/NERDtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
